{% extends 'layout/layout.html' %}
{% import 'libs/libs.html' as libs %}
{% import 'libs/const.html' as const %}

{% block title_nav %}
<li><a href="{{ request.cookies.get('goback_url', '/comment/order') }}">订单列表</a></li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-4 col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">基本信息</div>
            <div class="ibox-content">
                <form class="form-horizontal wizard" method="POST" action="{{ url_for('comment.order_save') }}" enctype="multipart/form-data">
                    <input id="order_id" type="hidden" name="order_id" value="{{ f.order_id }}">

                    {{ libs.input('评价分数', 'rating', f.rating, type='number', required='required max=5 min=0.0 step=0.1') }}
                    {{ libs.textarea('评价内容', 'content', f.content, required='required') }}
                    {{ libs.submit() }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
