{% extends 'layout/layout.html' %}
{% import 'libs/libs.html' as libs %}
{% import 'libs/const.html' as const %}

{% block search_body %}
{%
    set form_config = [
        {'label':'昵称', 'name':'nickname',},
        {'label':'标题', 'name':'title',},
        {'label':'增加时间', 'name':'add_time', 'type':'daterange', 'col-lg':'col-lg-4'},
    ]
%}
{{ libs.build_search_form(form_config) }}

{% endblock %}
{% block data_body %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>提问ID</th>
            <th>头像</th>
            <th>昵称</th>
            <th>标题</th>
            <th>内容</th>
            <th>增加时间</th>
            <th>详情</th>
        </tr>
    </thead>
    <tbody>
    {% for question in question_list %}
        <tr>
            <td>{{ question.question_id }}</td>
            <td style="padding-bottom: 0px;padding-top: 0px;">
                <div class="lightBoxGallery" style="text-align: left;">
                    <a href="{{ question.avatar }}" title="头  像" data-gallery="">
                        <img src="{{ question.avatar }}" style="max-width: 50px;">
                    </a>
                </div>
            </td>
            <td><a href="{{ url_for('user.user_detail', uid=question.uid, check_type=4)}}">{{ question.nickname }}</a></td>
            <td>
                <a question_id="{{ question.question_id }}" id="title_{{ question.question_id }}" class="title" data-tooltip="{{ question.title }}">{{ question.title|striptags|truncate(18, Ture) }}</a>
            </td>
            <td><a href="javascript:;" onclick="javascript:q_content('{{ question.content }}',this);">{{ question.content|striptags|truncate(18, Ture) }}</a></td>
            <td>{{ question.add_time|format_timestamp }}</td>
            <td><a href="{{ url_for('user.question_detail', question_id=question.question_id, uid=question.uid,query_type=1)}}">详情</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- 问答内容弹出层 -->
<div class="modal fade" id="q_content_modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 9%;">
        <div class="modal-content">
            <form class="form-horizontal" method="GET" id="additional_list_modal_form" autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">问答内容</h4>
                </div>
                <div class="modal-body">
                    {{ libs.textarea('内容', 'content', '',disabled='yes') }}
                </div>
            </form>
        </div>
    </div>
</div>
{{ libs.pagination_html(pagination) }}
<script type="text/javascript">
function q_content(content,adom) {
    $('#content').val(content);
    $('#q_content_modal').modal({backdrop:false});
}
$('a.title').each(function(){
    var $a = $(this);
    var question_id = $a.attr('question_id');
    $('#title_'+question_id).darkTooltip({
        size:'large',
    });
})
</script>
{% endblock %}
