{% extends 'layout/layout.html' %}
{% import 'libs/libs.html' as libs %}
{% import 'libs/const.html' as const %}

{% block search_body %}
{%
    set form_config = [
        {'label':'广告ID', 'name':'adv_id',},
        {'label':'是否显示', 'name':'is_show', 'type':'select',
            'options':[
                {'name':'请选择……', 'value':'-1'},
                {'name':'是', 'value':'1'},
                {'name':'否', 'value':'0'},
            ]},
        {'label':'增加时间', 'name':'add_time', 'type':'daterange', 'col-lg':'col-lg-4'},
    ]
%}
{{ libs.build_search_form(form_config) }}
{% endblock %}

{% block data_body %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>广告ID</th>
            <th>分类</th>
            <th>封面原图</th>
            <th>简介</th>
            <th width="15%">排序</th>
            <th>是否显示</th>
            <th>添加时间</th>
            <th>详情</th>
            <th>移除</th>
        </tr>
    </thead>
    <tbody>
    {% for ad in ad_list %}
        <tr>
            <td>{{ ad.adv_id }}</td>
            <td>{{ const.AD_CATEGORY.get(ad.ac_id, '') }}</td>
            <td style="padding-bottom: 0px;padding-top: 0px;">
                <div class="lightBoxGallery" style="text-align: left;">
                    <a href="{{ ad.adv_img }}" title="封 面 原 图" data-gallery=""><img src="{{ ad.adv_img }}" style="max-width: 50px;">
                    </a>
                </div>
            </td>
            <td><a id="adv_desc_{{ ad.adv_id }}" adv_id="{{ ad.adv_id }}" class="adv_desc" data-tooltip="{{ ad.adv_desc }}">{{ ad.adv_desc|striptags|truncate(18, Ture) }}</a></td>
            <td class="sort_order" adv_id="{{ ad.adv_id }}">{{ ad.sort_order }}</td>
            <td>{{ const.YES_OR_NO.get(ad.is_show, '默认') }}</td>
            <td>{{ ad.add_time|format_timestamp }}</td>
            <td><a href="{{ url_for('sys.ad_edit', adv_id=ad.adv_id)}}">详情</a></td>
            <td><a href="javascript:;" onclick="javascript:delete_ad({{ ad.adv_id }}, this);">移除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ libs.pagination_html(pagination) }}
{% endblock %}

{% block footer %}
<script type="text/javascript">
$("a.add_new").click(function(){
    window.location.href = '/sys/ad/add';
});
// $(function () { $("[data-toggle='tooltip']").tooltip(); });
function delete_ad(adv_id, adom) {
    window.wxc.xcConfirm('确定要移除该广告吗？', window.wxc.xcConfirm.typeEnum.warning);
    $('a.sgBtn.ok').click(function() {
        $.get('/sys/ad/delete', {'adv_id':adv_id}, function(res){
            if (res != 'ok'){
                window.wxc.xcConfirm(res, window.wxc.xcConfirm.typeEnum.error);
                return false;
            }
            window.wxc.xcConfirm('移除成功！', window.wxc.xcConfirm.typeEnum.success);
            var $a = $(adom);
            var $tr = $a.parents('tr').first();
            $tr.remove();
        });
    });
}
$(document).ready( function(){
    $('a.adv_desc').each(function(){
        var $a = $(this);
        var adv_id = $a.attr('adv_id');
        $('#adv_desc_'+adv_id).darkTooltip({
            size:'large',
            trigger:'click',
            animation:'flipIn',
            gravity:'west',
            modal: false,
        });
    })
    $('td.sort_order').click(function(){
        var $td = $(this);
        var $tr = $(this).parent();
        var adv_id = $(this).attr('adv_id');
        var sort = $.trim($td.text());
        var input = $("<input type='text' style='width: 50%;' value='" + sort + "'/>");
        $td.html(input);
        input.click(function () { return false; });

        //获取焦点
        input.trigger("focus");

        //文本框失去焦点后提交内容，重新变为文本
        input.blur(function () {
            var new_sort = $(this).val();

            //判断文本有没有修改
            if (new_sort != sort) {
                $.get('/sys/ad_sort/modify', {'adv_id':adv_id, 'sort':sort, 'new_sort':new_sort}, function (res){
                    if (res == 'ok') {
                        $td.html(new_sort);
                    } else {
                        window.wxc.xcConfirm(res, window.wxc.xcConfirm.typeEnum.error);
                        $td.html(sort);
                        return false;
                    }
                });
            } else {
                $td.html(sort);
            }
        });
    });
});
</script>
{% endblock %}
