{% extends 'layout/layout.html' %}
{% import 'libs/libs.html' as libs %}
{% import 'libs/const.html' as const %}

{% block search_body %}
{%
    set form_config = [
        {'label':'分类名', 'name':'ic_name'},
    ]
%}
{{ libs.build_search_form(form_config) }}

{% endblock %}
{% block data_body %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>分类ID</th>
            <th>分类名</th>
            <th>增加时间</th>
            <th>移除</th>
        </tr>
    </thead>
    <tbody>
    {% for ic in ic_list %}
        <tr>
            <td>{{ ic.ic_id }}</td>
            <td>{{ ic.ic_name }}</td>
            <td>{{ ic.add_time|format_timestamp }}</td>
            <td><a href="javascript:;" onclick="javascript:delete_ic({{ ic.ic_id }},this);">移除</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ libs.pagination_html(pagination) }}
<!-- 新增banner弹出层 -->
<div class="modal fade" id="add_ic_modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 10%;">
            <form class="form-horizontal" id="ic_modal_form" autocomplete="off", enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">新增图片分类</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="ic_id" id="ic_id" value="">
                    {{ libs.input('分类名', 'ic_name_modal', '', required='required') }}
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" id="submit">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$("a.add_new").click(function(){
    $('#add_ic_modal').modal({backdrop:false});
});
$('a#submit').click(function(){
    var ic_id = $('#ic_id').val();
    var ic_name = $('#ic_name_modal').val();
    $.get('/img/ic_save', {'ic_id':ic_id, 'ic_name':ic_name}, function(res){
        if (res != 'ok'){
            window.wxc.xcConfirm(res, window.wxc.xcConfirm.typeEnum.error);
            return false;
        }else{
            window.wxc.xcConfirm('新增成功！', window.wxc.xcConfirm.typeEnum.success);
            var t=setTimeout("window.location.href=''",1000);
        }
    });
});
function delete_ic(ic_id, adom) {
    window.wxc.xcConfirm('确定要移除该分类吗？', window.wxc.xcConfirm.typeEnum.warning);
    $('a.sgBtn.ok').click(function() {
        $.get('/img/ic_delete', {'ic_id':ic_id}, function(res){
            if (res != 'ok'){
                window.wxc.xcConfirm(res, window.wxc.xcConfirm.typeEnum.error);
                return false;
            }
            window.wxc.xcConfirm('移除成功！', window.wxc.xcConfirm.typeEnum.success);
            $(adom).parents('tr').remove();
        });
    });
}
</script>
{% endblock %}
