{% extends 'layout/layout.html' %}
{% import 'libs/libs.html' as libs %}
{% import 'libs/const.html' as const %}

{% block search_body %}
{%
    set form_config = [
        {'label':'交易ID', 'name':'tran_id'},
        {'label':'订单ID', 'name':'order_id', },
        {'label':'付款状态', 'name':'pay_status', 'type':'select',
            'options':[
                {'name':'请选择……', 'value':'-1'},
                {'name':'待付款', 'value':'1'},
                {'name':'已付款', 'value':'2'},
                {'name':'默认', 'value':'0'},
            ]},
        {'label':'付款时间', 'name':'paid_time', 'type':'daterange', 'col-lg':'col-lg-3'},
        {'label':'增加时间', 'name':'add_time', 'type':'daterange', 'col-lg':'col-lg-3'},
    ]
%}
{{ libs.build_search_form(form_config) }}

{% endblock %}

{% block data_body %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>序号</th>
                <th>order_id列表</th>
                <th>妮称</th>
                <th>应付款</th>
                <th>付款状态</th>
                <th>付款时间</th>
                <th>支付流水号</th>
                <th>支付方式</th>
                <th>增加时间</th>
                <th>查看详情</th>
            </tr>
        </thead>
        <tbody>
        {% for tran in order_tran_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ tran.order_id_list }}</td>
                <td>{{ tran.nickname }}</td>
                <td>{{ tran.pay_amount }}</td>
                <td>{{ const.PAY_STATUS.get(tran.pay_status, '默认') }}</td>
                <td>{{ tran.paid_time|format_timestamp }}</td>
                <td>{{ tran.pay_tran_id }}</td>
                <td>{{ tran.pay_method }}</td>
                <td>{{ tran.add_time|format_timestamp }}</td>
                <td><a href="{{ url_for('order.tran_detail',tran_id=tran.tran_id)}}">查看详情</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ libs.pagination_html(pagination) }}

{% endblock %}
{% block footer %}
<script type="text/javascript">
$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
{% endblock %}
